// Fonts
$font-primary: 'Montserrat', sans-serif;

$semibold: 600;
$bold: bold;
$regular: normal;
$medium: 500;

// Size
$fz-16: 16px;
$fz-18: 18px;
$fz-24: 24px;
$fz-32: 32px;
$fz-48: 48px;

// Colors
$dark: #2E2E2E;
$white: #fff;
$black: #000;
$blue: #317BE9;

// Media
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

$mob: 480px;
$extra-mob: 370px;